#case{
    margin-left: 3%;
    margin-right: 3%;

    grid-template-areas:"header header" 
                        "section" "section"
                        "footer" "footer"
}

header{
    grid-area: "header";
   
}

.titre{
    color: rgb(98, 89, 79);
    margin-left:5%;
    opacity: 1;
    font-size: 26px;
    font-family: Arial, sans-serif;
}

nav{
    
    background-color:rgb(249, 250, 248);
    display: flex;   
    bottom: 0;
} 

.bouton {
   
    padding: 5px;
    margin-right: 10px;
     color: rgb(98, 89, 79);  
    margin-top: 1.5%;
    font-size: 26px;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.txt{
    background-color: cadetblue;
    font-size: 20px;
}

.resume{
    font-size: 20px;
    background-color:rgb(249, 250, 248);
    font-family: Arial, sans-serif;
    color: rgb(98, 89, 79);
}

a:hover {
    color: rgb(11, 23, 90);
    display:block;
    position:relative;
    top:0;
   
}   
  
body{
    grid-area: "body";
    margin:0%;
}

footer{
   
    grid-area: "footer";
    margin-top: 25%;
}

.case{
    display: flex;
}

.pied{
    margin-top: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(14, 10, 13);
    font-weight: bold;
}
/* texte page */
.resultat{
    margin-top: 3%;
    margin-bottom:20%;
    font-size: 25px;
    color: rgb(32, 49, 78);
}

h3{
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 2px rgb(27, 29, 29), 0 0 1em rgb(25, 29, 31), 0 0 0.2em rgb(26, 26, 39); 
}

.bidule{
    position:absolute;top:100px; height:400px; z-index:2;font-size:200%
}

.dingue{
    display: flex;
    flex-direction: row;
    margin-left: 60%;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 2px rgb(27, 29, 29), 0 0 1em rgb(25, 29, 31), 0 0 0.2em rgb(26, 26, 39);
    font-family: Arial, sans-serif;   
}

.din{
    
    margin-top: 10%;
    margin-left: 6%;
    margin-right: 6%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 2px rgb(27, 29, 29), 0 0 1em rgb(25, 29, 31), 0 0 0.2em rgb(26, 26, 39);
}


@media screen and (max-width: 700px)
/* responsive */

{
    .bouton {
   
        padding: 5px;
        margin-right: 5px;
        font-size: 16px; 
    }
/* texte */
    .dingue{
        
        margin-left: 40%;
        text-align: left;  
        font-size: 25px; 
    }
    
    .din{
        
        font-size: 25px;
        font-family: Arial, sans-serif;
        color: rgb(245, 245, 245);
        text-shadow: 1px 1px 2px rgb(27, 29, 29), 0 0 1em rgb(25, 29, 31), 0 0 0.2em rgb(26, 26, 39);    
    }

    .bidule{
        top:70px; 
    }
    /* pied de page */
    .pied{
        margin-top: 80%;
        margin-bottom: 5%;
        
    }
    /* image page accueil */
    .yy{

        height: 70em;
        width: 30em;
    }
    /* image des données */
    .ya{

        width: 14em;
    }


}