{% extends 'base.html' %}
{% block title %}accueil{% endblock %}
{% block section %}

<section>
	
<div style class='truc'>

	<div style class='machin'>
			<img class='yy' src="{{url_for('static', filename='img/fond.jpeg')}}"  width = "100%"> 
	</div>

		<div style class='bidule'>
			
			<p class="din">	
		Nous sommes là pour vous aider à prévoir le risque d'accident et ainsi pouvoir mobiliser les services de secours
		necessaire pour un jour donné nous avons séparé les prédictions des risques 
		en 3 niveaux.
		<br>
		Cliquez sur le lien estimation <br>des risques pour obtenir<br>
		 une prévision des risques en<br> fonction d'un Jour donné.
			</p> 
		<div>
		   <p class="dingue">	
		<br>
		1 – Faible  
		<br>
		2 – Moyen 
		<br> 
		3 – Élevé  
		</p>
		   
		
</div>
	</section>

{% endblock %}	  
		

