{% extends 'base.html' %}
{% block title %}Resultat{% endblock %}
{% block section %}

<section>
	<form class="resultat">
		<div class="container-fluid justify-content-center row">
			<div class="col-sm-6 bg-light">
				<div class="row p-2 ml-2 text-info">
					<div class="col-4  font-weight-bold">
						Département
					</div>
					<div class="col-8 "> 
						{{dep}}
					</div>
				</div>
				<div class="row p-2 ml-2 text-info">
					<div class="col-4 font-weight-bold ">
						Luminosité 
					</div>
					<div class="col-8 ">
						{% if lum==1 %} Plein jour 
						{%elif lum==2 %} Crépuscule ou aube
						{%elif lum==3 %} Nuit sans éclairage public
						{%elif lum==4 %} Nuit avec éclairage public non allumé
						{%else %} Nuit avec éclairage public allumé 
						{%endif %}
					</div>
				</div>
				<div class="row p-2 ml-2 text-info">
					<div class="col-4 font-weight-bold ">
						Localisation 
					</div>
					<div class="col-8 ">
						{% if lum==1 %} En agglométation {%else %} Hor agglométation {%endif %}
					</div>
				</div>
				<div class="row p-2 ml-2 text-info">
					<div class="col-4 font-weight-bold ">
						Atmosphère 
					</div>
					<div class="col-8 ">
						{% if atm==1 %} Normale 
						{%elif atm==2 %} Pluie légère
						{%elif atm==3 %} Pluie forte
						{%elif atm==4 %} Neige - grêle
						{%elif atm==5 %} Brouillard 
						{%elif atm==6 %} Vent fort - tempête
						{%elif atm==7 %} Temps éblouissant
						{%elif atm==8 %} Temps couvert 
						{%else %} Autre 
						{%endif %}
					</div>
				</div>
				<div class="row p-2 ml-2 text-info">
					<div class="col-4 font-weight-bold ">
						Date 
					</div>
					<div class="col-8 ">
						{{ journee }} - {{ date }}
					</div>
				</div>
				<div class="row p-2 ml-2 text-info">
					<div class="col-4 font-weight-bold ">
						Moment 
					</div>
					<div class="col-8 ">
						{% if cat_time==1 %} 08:00 - 17:00 
						{%elif cat_time==2 %} 17:00 - 20:00
						{%elif cat_time==3 %} 20:00 - 00:00
						{%elif cat_time==4 %} 00:00 - 05:00
						{%else %} 05:00 - 08:00 
						{%endif %}
					</div>
				</div>
			</div>
		<div class="col-sm-6">
			<fieldset>
				<legend><h3>Résultat</h3></legend>
				<h3>
					Tendance du jour :  {{ prediction }} 
				</h3>
				<h4 class="font-weight-bold p-3 text-center shadow-none mb-5 bg-light rounded">
					{% if prediction==1 %}
						<div class="text-secondary">Le niveau de Tendance est {{str_prediction}}</div>
					{% elif prediction==2 %}
						<div class="text-warning">Le niveau de Tendance est {{str_prediction}}</div>
					{% else %}
						<div class="text-danger">Le niveau de Tendance est {{str_prediction}}</div>
					{% endif %}
				</h4>
			</fieldset>
		</div>
		</div>
	</form>
	
</section>

{% endblock %}

